<div class="container">
  <div class="navbar">
    <a routerLink="inicio" routerLinkActive="active">
      <img class="logo" src="../../../../assets/logo.png" alt="logo" />
    </a>
    <div class="d-flex justify-content-end mt-3">
      <ul>
        <li class="item-main">
          <a routerLink="inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="item-main">
          <a routerLink="peliculas" routerLinkActive="active">Peliculas</a>
        </li>
        <li class="item-main">
          <a routerLink="series" routerLinkActive="active">Series</a>
        </li>
        <li class="item-main">
          <a routerLink="ingresar" routerLinkActive="active">Ingresar →</a>
        </li>
      </ul>
    </div>
  </div>
</div>
