<div class="sally">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="rectangle">
          <img src="../../../../assets/Saly-11.png" alt="Saly-11" />
        </div>
      </div>
      <div class="col">
        <div class="login">
          <h1>Ingresar</h1>
          <input type="text" placeholder="Email" />
          <input type="text" placeholder="Contraseña" />
          <input class="baseButton" type="submit" />
          <div class="rectangle2"></div>
          <h1 id="o">Ó</h1>
          <div class="rectangle3"></div>
          <div class="image1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
