<div class="background">
  <div class="vector3"></div>
  <div class="vector4"></div>
</div>
<app-navbar></app-navbar>
<app-footer></app-footer>
<router-outlet></router-outlet
><!--Permite la navegación en éste componente principal. Aunque parezca un componente, "router-outlet" es una directiva, ya que su función es manipular el DOM para inyectar un componente u otro frente al cambio de una ruta.-->
