.background {
  position: absolute;
  width: 100%;
  height: 1000px;
  left: 0px;
  top: -160px;
  z-index: -20;
}

.vector3 {
  position: absolute;
  width: 488px;
  height: 345px;
  left: 124px;
  top: 491px;

  background: #0c4265;
  filter: blur(350px);
}

.vector4 {
  position: absolute;
  width: 488px;
  height: 345px;
  left: 822px;
  top: 1270px;

  background: #02523a;
  filter: blur(350px);
}

.vector6 {
  position: absolute;
  width: 576px;
  height: 407px;
  left: 146px;
  top: 2282.48px;

  background: #5a4af4;
  opacity: 0.4;
  filter: blur(350px);
}

.ellipse5 {
  position: absolute;
  width: 401.68px;
  height: 266.56px;
  left: 1178.51px;
  top: 700px;

  background: #251e62;
  filter: blur(350px);
  transform: rotate(-135deg);
}

.ellipse6 {
  position: absolute;
  width: 401.68px;
  height: 266.56px;
  left: 736.03px;
  top: 1679.52px;

  background: #492c66;
  filter: blur(350px);
  transform: rotate(-135deg);
}

.ellipse8 {
  position: absolute;
  width: 473.91px;
  height: 314.49px;
  left: 965.1px;
  top: 2665.48px;

  background: #1ea5fc;
  opacity: 0.4;
  filter: blur(350px);
  transform: rotate(-135deg);
}
