<!--Título y subtítulo-->
<div class="title">
  <p>PelisUp!</p>
  <h1>Series</h1>
</div>
<!--Fin Título y subtítulo-->

<!--Search-->
<input type="text" placeholder="Buscar series" />
<!--End Search-->

<!--button-->
<p id="side-h3">120 items</p>
<!--End Button-->
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
<app-cards></app-cards>
