@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  min-height: 800px;
  background: #141e30;
  color: white;
}
